<div class="container">   <!--全体を囲むコンテナ-->

<h1>ブログ一覧</h1>

<p><%= notice %></p>

<table class= "table table table-hover">
  <thead="row">
    <tr>
      <th class="col-md-2">タイトル</th>
      <th class-"col-md-7">内容</th>
      <th class-"col-md-1"></th>
      <th class-"col-md-1"></th>
      <th class-"col-md-1"></th>
    </tr>
  </thead>  
  <tbody="row">
    <% @blogs.each do |blog| %>
      <tr>
        <td class="col-md-2"><%= blog.title %></td>
        <td class="col-md-7"><%= blog.content %></td>
        <td class="col-md-1"><%= link_to "詳細", blog_path(blog.id), class: 'btn btn-info btn-sm' %></td>
        <td class="col-md-1"><%= link_to "編集", edit_blog_path(blog.id), class: 'btn btn-default btn-sm'%></td>
        <td class="col-md-1"><%= link_to "削除", blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' },class: 'btn btn-danger btn-sm' %></td>
      </tr>
      <% end %>
    </tbody>
</table>

<P><%= link_to '新しく投稿する', new_blog_path, class: 'btn btn-success btn-sm' %></p>

</div>   <!--全体を囲むコンテナ-->
