<div class="container">
  <h1><%=@user.name %>のページ</h1>
    <div class ="well">
      <p>
        <!--<strong>Image:</strong>-->
        <%= image_tag (@user.image_url) if @user.image.present? %>
      </p>
      <p>メールアドレス:<%=@user.email %></p>
    </div>
    <h2>お気に入りの一覧</h2>
<table class= "table table table-hover">
  <thead="row">
    <tr>
      <th class="col-md-3">タイトル</th>
      <th class-"col-md-7">内容</th>
      <th class-"col-md-2">投稿者</th>
    </tr>
  </thead>
  <tbody="row">
    <% @favorite_blogs.each do |favorite_blog| %>
      <tr>
        <td class="col-md-2"><%= favorite_blog.blog.title %></td>
        <td class="col-md-5"><%= favorite_blog.blog.content %></td>
        <td class="col-md-2"><%= favorite_blog.blog.user.name %></td>
      </tr>
      <% end %>
    </tbody>
</table>
  <p><%= link_to "ユーザーの編集", edit_user_path(@user), class: 'btn btn-default'%></p>
</div>